.qualification__container{
   max-width: 818px;
   /* max-width: 1000px; */
}



.section__title1
{
    text-align: center;
    color: rgb(34, 222, 65);
}
.section__subtitle1 {
    display: block;
    font-size: var(--medium-font-size);
    margin-bottom: 4rem;
    color: rgba(35, 243, 191, 0.854);text-align: center;
}

.qualification__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
    /* margin-top: var(--mb-3); */
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0.2px;
    cursor: pointer;
    padding: 0.1rem 0.5rem;
        border-radius: 0.7rem;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

}

.qualification__button:hover{
    color: rgb(84, 203, 84);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    
};

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
    
}

.qualification__active{
    color: var(--title-color-dark);
}

.qualification__sections{
    display: grid;
    grid-template-columns:1fr;
    /* grid-template-columns: 0.5fr; */
    justify-content: center;
   


}



.qualification__content{
    display: none;
}

.qualification__content-active{
    display: block;
}
.qualification__data{
    display: grid;
    grid-template-columns: 2fr max-content 2fr;
   
    /* column-gap: 1rem;  */
    column-gap: 1.5rem;
}

.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: rgb(192, 117, 19);
}

.qualification__subtitle, .qualification__link{
display:inline-block ;
font-size: var(--small-font-size);
margin-bottom: var(--mb-1);
}

.qualification__calendar{
    font-size: var(--small-font-size);
}
.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: grey;
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px,-7px);

}

a>i{
    color: rgb(0, 255, 195);
}
 a > i:hover {
    font-size: 1.1rem;
    transition: 0.4s;
    
}

.bxs-hand-right{
    margin-right: 1rem;
    font-size: 1.1rem;
    color: rgb(27, 202, 103);


}

.qualification__link {
    display: flex;
    align-items: center;
}

.qualification__link:hover .work__button-icon {
    transform: translateX(0.6rem);
}


@media screen and (max-width:992px){
   .qualification__sections {
           
          
           
    display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
       
    
        }
        .qualification__data{
            margin-left: 3rem;
            
        }

              

                .qualification__container{
                    margin-left: auto;
                    margin-right: auto;
                }
                .qualification__tabs{
                    margin-right: 7rem;
                }
}



@media screen and (max-width: 768px){


.qualification__data {
    display: grid;
    grid-template-columns: 3fr max-content 3.3fr;

    
    margin-left: 5px;
}
  

.section__title{
    font-size: var(--h2-font-size);
    margin-left: 8rem;
    margin-bottom: -2rem;
}

    .section__subtitle{
       margin-right: -7.8rem;
      /* margin-left: 8.8rem; */
      font-size: var(--h3-font-size);
    }  

   .qualification__container {
       margin-left: var(--mb-2);
       margin-right: var(--mb-1-5);
       grid-template-columns: 1fr;
      
   }

   .qualification__tabs{
    margin-left: 2rem;
   }

   .qualification__sections {
       grid-template-columns: initial;
       margin-left: -3rem;
   }
}

@media screen and (max-widt:576px){
.qualification__sections {
        grid-template-columns: 1fr;
    }
   
        .qualification__tabs {
            margin-left: 1rem;
        }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    }

          
}

/* @media screen and (max-width: 350px) {
    .qualification__data {
        gap: 0.5rem;
    }

    .qualification__tabs {
        flex-direction: column;
        gap: 2px;
    }

    .qualification__button {
        justify-content: center;
    }
} */