*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.skills__container{
   grid-template-columns: repeat(4,350px);

  
   /* display: flex; */
    column-gap: 2.5rem;
    justify-content: center;
        color: rgb(225, 225, 225);
            margin-bottom: 2rem;
            
}


.Ttitle{
        display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            height: 60px;
            color: rgb(255, 255, 255);
}




.tablo{
    
    border: 1px solid white;
    /* width: 25rem; */
    text-align: center;
   
    

}

.title__box{
    border: 1px solid white;
    height: 5vh;
    
    
} 
h5,ul{
   margin-top: 0.75rem;
}



/** ======================== BREAKPOINTS ============================*/

 @media screen and (max-width:1350px) {
    .skills__container {
            grid-template-columns: repeat(2, 350px);
    
    
            /* display: flex; */
            column-gap: 2.5rem;
            justify-content: center;
            color: rgb(225, 225, 225);
            margin-bottom: 2rem;
            
        }
 }


/* For large devices*/
@media screen and (max-width:992px) {


.skills__container {
        grid-template-columns: repeat(2, 230px);

        /* display: flex; */
        column-gap: 2.5rem;
        justify-content: center;
        color: rgb(225, 225, 225);
        margin-bottom: 2rem;
        margin-left: 3rem;
    }
 




}

/* For medium devices*/
@media screen and (max-width:768px) {
 

    .skills__container {
            grid-template-columns: repeat(2, 230px);
    
            /* display: flex; */
            column-gap: 2.5rem;
            justify-content: center;
            color: rgb(225, 225, 225);
            margin-bottom: 2rem;  
            margin-left: 3rem;


            
        }

        

h3{
    
    margin-top: 2rem;
    
      
}


.Ttitle{
    margin: auto;
  
}

    
}
/* For large devices*/

@media screen and (max-width:576px) {
    .skills__container {
    grid-template-columns: 1fr;
 
    row-gap: 2.5rem;
    margin-left: 3rem;
   
}}

/* For small devices*/
@media screen and (max-width:350px) {
    .skills__container {
            grid-template-columns: 1fr;
          
            row-gap: 2.5rem;
            
    
        }

.title__box{
    height: 8vh;
}
    
}


