* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about__img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    margin-top: -22rem;
}

section{
    color: rgb(225, 225, 225);
    /* color: rgb(193, 219, 179); */
        position: relative;
        transition: all 1s ease-in-out 0s;
        opacity: 1;
       
}

 .Ttitle{
        display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
           
            position: relative;
            overflow: hidden;
            height: 60px;
            color: rgb(255, 255, 255);
            /* color: rgb(193, 219, 179); */
            align-items: center;
          margin-left: 6rem;
           
            
} 


.section__title{
    color: rgb(34, 222, 65);

    
}
.section__subtitle {
   font-size: var(--h2-font-size);
   
color: rgba(35, 243, 191, 0.854);
margin-bottom: 2rem;
margin-top: 3rem;
}




.button{
    margin: 2rem 0px;
        

        font-size: 1.65rem;
        background: repeating-linear-gradient(45deg, rgb(130, 222, 148), rgb(232, 95, 193) 20px, rgb(122, 227, 157) 20px, rgb(146, 240, 109) 25px);
        /* color: rgb(2, 9, 87); */
        font-weight: bold;
        /* display: block; */
   
        position: relative;
        transition: all 300ms ease-in 0s;
}

.about__container {
   

    grid-template-columns: repeat(2,1fr);
    /* 2 tane 1 fragment olcusunde esit bol colon lari demek */
    align-items: center;
    column-gap: 4rem;
    /* margin-left: var(--mb-3); */
    /* margin-right: var(--mb-1-5); */
}

.about__info{
    grid-template-columns: repeat(3,140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
   
}

.about__box{
   background-color:rgba(105, 2, 80, 0.511);
   border: 1px solid ;
   border-radius: 0.75rem;
   text-align: center;
   padding: 1rem 0.5rem;
  
}

.about__icon{
    font-size: 1.5rem;
    /* color: var(--title-color); */
    margin-bottom: var(--mb-0-5);
}

.about__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle{
    font-size: var(--small-font-size);
}




.yazi__container {
    grid-template-columns: repeat(3,1fr);
    


     /* display: flex; 
     column-gap: 2.5rem;  */
    justify-items: center;
    color: rgb(225, 225, 225);
    /* margin-bottom: 6rem;
        min-height: 10vh;
        position: relative; */
        
}
.yazi{
     
            grid-column: 3 / 3;
                text-align: center;
                justify-items: center;
                margin-bottom: 6rem;
                width: 50rem;
}

.yazii{
    border: 2px solid rgb(201, 152, 16);
   
      
        padding: 2rem;
        min-width: 352px;
        width: 70%;
        color: rgb(225,225,225); 
        position: relative;
        margin-top: 6rem;
        box-shadow:15px 15px 10px 0 rgba(0, 0, 0, 0.5)
}



.double{
    background-color: rgb(39, 56, 57);
        top: 0%;
            left: 10%;
            position: absolute;
            width: 20px;
            height: 10px;
            transform: translateY(-50%);
            box-sizing: content-box;
            padding: 1rem;
            z-index: 2;
            
}

.double2{
    background-color: rgb(39,
        56,
        57);
    top: 100%;
    left: 83%;
    position: absolute;
    width: 20px;
    height: 10px;
    transform: translateY(-50%);
    box-sizing: content-box;
    padding: 1rem;
    z-index: 2;
}


/* *********************** */

@media  screen and (max-width:992px) {


 .about__container{
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
 }

 .about__img{
    width: 220px;
    
            margin-top: 2rem;
     
 }

 .about__box{
    padding: 0.75rem 0.5rem;
 }
 .about__data{
    text-align: center;
 }

 .about__info{
    justify-content: center;
 }
 .about__description{
    padding: 0 5rem;
    margin-bottom: 2rem;
 }

         .yazi {
             grid-template-columns: 1fr;
             width: 50rem;
             margin-left: 7rem;
             text-align: center;
             justify-items: center;
             margin-bottom: 6rem;
    
         }

}

@media screen and (max-width:768px) {
    

       .about__img{
        margin-top: 2rem;
       }

         .yazi {
             grid-template-columns: 1fr;
           
             margin-left: auto;
             text-align: center;
             justify-items: center;
             margin-bottom: 6rem;
             
    
         }
}


@media screen and (max-width:576px) {
  
        .about__info{
            grid-template-columns: repeat(3,1fr);
            margin-left: 3rem;
        }

        .about__description{
            padding: 0;
            margin-left: 3rem;
        }

      .yazi {
    grid-template-columns: repeat(3,1fr);
           width: 35rem;
            text-align: center;
            justify-items: center;
            margin-bottom: 6rem;
            
        }
                
    }

@media screen and (max-width:350px) {

    .about__info{
        grid-template-columns: repeat(2,1fr);
        margin-left: 3rem;
        
    }
}
