
.contact__section{
    /* margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3,0.6fr);
*/

        margin: 3rem 0px 2rem;
        position: relative;
        transition: all 1s ease-in-out 0s;
        opacity: 1;
    
    } 

    .Ttitle{
        display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            height: 60px;
    }

.contact{
    display: flex;
}

.msg__box{
    border: 1px solid white;
    position: absolute;
        width: 450px;
          /* top: 10rem; */
            right: -1rem;
            padding:0.5rem 1rem;
}
.schrift{
    max-width: 500px;
        margin: 1rem 0px 2rem;
    }



/* .msg__box{
  margin-left: 30rem;
  
} */
.me__here{
   font-weight: 600;
}
.mail{
    /* display: flex;
    gap: 1.5rem; */

        display: flex;
            gap: 1rem;
            margin-bottom: 8px;
}
.bx-envelope{
    font-size: 2rem;
    margin-right: 1rem;
cursor: pointer;

color: white;}


.bxs-mobile{
    font-size: 1.8rem;
}


/**========================BREAKPOINTS============================*/ 



/* For large devices*/
@media screen and (max-width:992px) {

.contact__section{
    margin-top: -3rem;
grid-template-columns: 1fr;
    
}
 


.Ttitle{
    margin-left: 5rem;
    margin-top: 10rem;
   
}

.schrift h5{
    margin-left:5rem;
}

.msg__box {
    margin-right: 6rem;
    width: 80%;
    margin-top: 9rem;
}

.mail {
   

    display: flex;
    gap: 1rem;
   font-size:70% ;

}
.bx-envelope {
    font-size: 1rem;
   

   
}


.bxs-mobile {
    font-size: 1rem;
}

 


}

/* For medium devices*/
@media screen and (max-width:768px) {


  .contact__section {
    
    grid-template-columns: 1fr;
   

  }

                        .schrift {
            
                            margin-left: 7rem;
            
                        }
            
                        .msg__box {
                            margin-right: 3rem;
                            width: 80%;
                            margin-top: -1rem;
                        }

.Ttitle {
  margin-left: 1.3rem;

}
}

/* For large devices*/

@media screen and (max-width:576px) {


          .contact__section {
    
              grid-template-columns: 1fr;
    
    
          }
    
          

          .schrift
{

    margin-left: 0.5rem;

}
.msg__box{
    margin-right: 3rem;
    width: 80%;
    margin-top: 9rem;
}
}

@media screen and (max-width:350px) {
    .Ttitle {
            margin-left: 2.7rem;
    
        }
    
      
    
        h5 {
            font-size: 1rem;
        }
    
      
}