/* footer{
    color: rgb(225, 225, 225);
    margin: 4rem 0px;
    
}

hr{
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;
 margin-top: 5rem;
    border-width: 2px;
}


.ich{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
} */


.footer{
    background-color: var(--container-color);
    
    margin-top: 7rem;
}

hr {color: rgb(128, 121, 121);
    display: block;
    width: 100%;
    position: absolute;
    left: 0px;

    border-width: 2px;
}

.footer__container{
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
    color: var(--title-color);
}

.footer__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__list{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 1.25rem;
   margin-top: 5rem;
}

.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-link{
    /* background-color: var(--title-color);
    color: var(--container-color); */
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
   
    

    &:hover{
        background-color: var(--title-color-dark);
    }
}


.footer__copy{
    display: block;
    
    margin-top: 2rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}




@media screen and (max-width:576px) {

   hr{
    width: 80%;
    margin-left: 4.5rem;
   margin-top: 3rem;

}
}

.footer__list{
    font-size: 15px;
}

